body{
    font-family: 'Poppins', sans-serif;

}

#header-section{
    width: 100%;
    height: 576px;
    background: #F0FFF0;
    padding-top: 10px;
    margin-bottom: 50px;
}
.sign-in-btn{
    border: none;
    background: #21B573;
    border-radius: 33px;
    width: 104px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;

}
.banner{
    padding: 20px;
    margin: 20px;
}
.get-start-btn{
    border: none;
    background: #21B573;
    border-radius: 33px;
    padding: 10px 30px;
}

.banner-first-p{
    font-size: 16px;
    line-height: 24px;;
    color: #FD511A;
    font-weight: 400;
}

.banner-h1{
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    color: #000000;
}

.banner-second-p{
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}

.widget-content{
    width: 270px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
    padding: 20px 20px;
}
.widget-content img{
    width: 100%;
}

.widget-content:hover{
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}

#widget-section{
    text-align: center;
    margin-bottom: 100px;
}




#courses-section{
    margin-bottom: 100px;
}

.courses-section-header h1{
    margin: 50px;

}
.card{
    padding: 20px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.card-body{
    padding: 30px 0 0 0;
}

.buy-course {
	padding: 20px 0;
}


.img-icon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}



.testimonial-header{
    text-align: center;
    margin-bottom: 100px;
}


