body{
    font-family: 'Poppins', sans-serif;

}

#header-section{
    width: 100%;
    background: #F0FFF0;
    padding-top: 10px;
    margin-bottom: 50px;
}

/* banner style start */
.sign-in-btn{
    border: none;
    background: #21B573;
    border-radius: 33px;
    width: 104px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
}
.banner {
	padding: 20px 20px 50px 20px;
	margin: 20px;
}
.get-start-btn{
    border: none;
    background: #21B573;
    border-radius: 33px;
    padding: 10px 30px;
}
.banner-first-p{
    font-size: 16px;
    line-height: 24px;;
    color: #FD511A;
    font-weight: 400;
}
.banner-h1{
    font-weight: 700;
    font-size: 46px;
    line-height: 70px;
    color: #000000;
}
.banner-second-p{
    font-weight: normal;
    font-size: 16px;
    line-height: 36px;
    color: #6C6B6B;
}
/* banner style end */

/* widget style start */
.widget{
    padding-bottom: 20px;
}
.card.widget {
	border: none;
	background: #F8FFFB;
	box-shadow: none;
	text-align: center;
	width: 270px;
	height: 270px;
}
.card.widget:hover{
    background: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.widget-img {
	padding-bottom: 20px;
}
/* widget style end */


/* courses style start */
#courses-section{
    margin-bottom: 100px;
}
.courses-section-header h1{
    margin: 50px;
}
.card{
    padding: 20px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.card-body.courses {
	padding: 20px 0 0 0;
}
.buy-course {
	padding: 20px 0;
}
.img-icon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.card-footer{
    background-color: #fff;
    border-top: none;
}
/* courses style end */


/* testimonial style start */
.testimonial-head h1{
    text-align: center;
}
.testimonial-text{
    line-height: 30px;
    font-size: 16px;
    padding-left: 30px;
}

.testimonial-body{
    padding: 100px 0;
}

/* testimonial style end */

/* footer style start */

#footer-section{
    background-color: #282531;
    padding-top: 50px;
}
#footer-section{
	line-height: 30px;
}

.list-unstyled {
	list-style: none;
	font-size: 14px;
}

.copyright {
	font-size: 14px;
	color: #b3b3b3;
	margin-top: 25px;
	padding-top: 10px;
	text-align: center;
	padding-bottom: 10px;
}
/* footer style end */